.slider {
  animation: slide 3s ease-in-out infinite;
}

@keyframes slide {
  0% {
    transform: translateX(-30px);
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(-30px);
  }
} 