@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", sans-serif;
  --inset-shadow-3xl: inset 35px 35px 100px 55px rgba(0, 0, 0, 0.55); 
}

@layer components {
  .underline-animation {
    @apply relative;
  }

  .underline-animation::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: theme('colors.cyan.400');
    transform-origin: bottom right;
    scale: 0;
    transition: transform 300ms;
  }

  .underline-animation:hover::after {
    transform-origin: bottom left;
    scale: 1;
  }
}


:root {
  font-family: var(--font-sans);
}
